body {
    padding-top: 70px;
  }
  
  .navbar {
    background-color: #f8f8f8;
  }
  
  .page-heading {
    margin-top: 100px;
  }
  
  .content-section {
    background-color: #e9ecef;
    min-height: 1000px;
    padding: 20px;
  }
  